{% extends 'html.html.twig' %}

{% macro divider(img_src) %}
	<div class="row no-gutters">
		<div class="col-md-12"><img src="img/{{ img_src }}" class="img-fluid w-100" alt="Impression aus der Werkstatt"></div>
	</div>
{% endmacro %}

{% macro card(id, title, front_img, back_img) %}
	<div class="card">
		<a href="{{ id }}">
			<div class="card-img-top">
				<img class="img-fluid" src="img/placeholder.png" aria-hidden="true">
				<div class="flip-container initial">
					<div class="flipper">
						<div class="front">
							<img class="rounded-circle img-fluid" src="img/{{ front_img.filename }}" alt="{{ front_img.alt }}">
						</div>
						<div class="back">
							<img class="rounded-circle img-fluid" src="img/{{ back_img.filename }}" alt="{{ back_img.alt }}">
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h5 class="card-title text-center">{{ title }}</h5>
			</div>
		</a>
	</div>
{% endmacro %}

{% import _self as index %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<div class="container">
		<main role="main" class="inner main-title">
			<div class="row">
				<div class="col-sm-12">
					<h1><span class="small d-none d-md-inline">Sattlermeisterin</span> Anouk Wächter<br><span class="hr"></span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 d-none d-md-block text-center">
					Königsberg in Bayern
				</div>
				<div class="col-sm-12 d-block d-md-none text-center">
					Sattlermeisterin
				</div>
			</div>
		</main>
	</div>
</div>

<section id="products">
	<div class="container">
		<h2 class="mb-4">Lieferservice für Hunde- und Katzenfutter</h2>
		<div class="row">
			<div class="col-md-4 mb-3"><img src="img/Winner-plus-Logo.png" class="img-fluid"/></div>
			<div class="col-md-8">
				<p>Aufgrund der aktuellen Situation Lieferung „frei Haus“ von hochwertigem Hunde- und Katzenfutter im Kreis - Haßfurt - Hofheim - Köningsberg.</p>
				<p>Hochwertiges Hunde und Katzenfutter von <a href="http://www.winnerplus.eu/de" target="_blank">Winner Plus</a>, hergestellt aus 100% natürlichen Rohstoffen. Alle Produkte werden ohne künstliche Aromen, Geschmacksverstärker und chemischen Zusätzen hergestellt.</p>
				<p>Tiefgefrorenes Frischfleisch und Knochen, nachhaltig unter strengen EU Regeln hergestellt.</p>
				<p>Bei den Futtermitteln bemühe ich mich um hohe Qualität, für die Umwelt so schonend wie möglich hergestellt. Durch Nichtverwenden von Zusatzstoffen ist dieses Futter sehr gut auch für Allergiker verträglich.</p>
				<p class="text-center font-weight-bold">Lieferhotline: 0151&thinsp;-&thinsp;64&thinsp;324&thinsp;829</p>
			</div>
		</div>
		<h2 class="text-center mt-5 mb-4">Handgefertigte Lederwaren</h2>
		<div class="card-deck">
			{{
				index.card(
					'menschen',
					'für Menschen',
					{filename: '20170818-IMG_2038-2.jpg', alt: 'Lederwaren für Menschen'},
					{filename: '20171205-IMG_4031_3.jpg', alt: 'Handtasche'}
				)
			}}{{
				index.card(
					'pferde',
					'für Pferde',
					{filename: '180730104919-00004.jpg', alt: 'Lederwaren für Pferde'},
					{filename: '093252.jpg', alt: 'Lederwaren für Pferde'}
				)
			}}{{
				index.card(
					'hunde',
					'für Hunde',
					{filename: '180730104726-00003.jpg', alt: 'Lederwaren für Hunde'},
					{filename: '089764.jpg', alt: 'Hundehalsbänder'}
				)
			}}
		</div>
	</div>
</section>

{{ index.divider('089771.jpg') }}

<section id="about">
	<div class="container">
		<h2>Sattlermeisterin<br class="d-inline d-sm-none"><span class="d-none d-sm-inline"> </span>Anouk Wächter</h2>
		<div class="row">
			<div class="col-md-5 overflow-hidden"><img src="img/090615.jpg" class="img-fluid"></div>
			<div class="col-md-7 mt-3 mt-md-0">
				<p>
					Ich wurde 1967 in München geboren. Schon immer war ich von Tieren – vor allem von Pferden und
					Hunden – fasziniert. Mit 14 Jahren traf es mich wie ein Donnerschlag – ich werde Sattlerin!
					Für diesen Entschluss warf ich mit 16 die Schule über den Haufen und durfte in der
					wunderbaren Sattlerei Lindner meine Lehre absolvieren.<br>
					Es folgten verschiedene Anstellungen u.&thinsp;a. im Circus Krone und Reitsport Benz in
					München und schließlich die Meisterprüfung 1991.
				</p>
				<p>
					Nach zwei Jahren „Sattlerauszeit“ auf einem Pferdebetrieb, in denen ich Reit- und
					Pferdekenntnisse verbessern konnte, gründete ich meinen eigenen Betrieb. Einige Umzüge mit
					meiner Werkstatt waren nötig, doch seit 2016 bin ich nun in der wunderschönen Altstadt von
					Königsberg angekommen.
				</p>
			</div>
		</div>
	</div>
</section>

{{ index.divider('werkstatt-1.jpg') }}

<section id="workshop">
	<div class="container">
		<h2>Die Werkstatt</h2>

		<div class="row">
			<div class="col-md-8 col-lg-7 order-1 mt-3 mt-md-0">
				<p>
					Hier werden alle Aufträge noch nach traditioneller Handwerkskunst ausgeführt.
					Ob aufwendige Handtaschen und Gürtel, Hunde- und Pferde-Ausrüstung oder einfach
					„nur“ Reparaturen.
				</p>
				<p>
					Selbstverständlich bin ich bemüht, nachhaltig hergestellte Materialien zu
					verwenden. Das hochwertige Leder beziehe ich fast ausschließlich von deutschen
					Gerbereien, die Ihre Rohhäute aus tiergerechten Betrieben beziehen.
				</p>
				<p>
					Polsterarbeiten – wie Stühle oder Eckbänke mit Leder oder Stoff zu beziehen oder
					Motorradsitze umzuarbeiten und beziehen – runden das Sortiment ab.
				</p>
				<p>
					Seit einigen Jahren bin ich zudem für namhafte Firmen in der Sattelentwicklung
					tätig.
				</p>
			</div>
			<div class="col-md-4 offset-lg-1 order-md-2">
				<div class="row">
					<div class="col-md-12 overflow-hidden">
						<img src="img/090607.jpg" class="img-fluid">
					</div>
					<div class="col-md-12 mt-3 d-none d-md-block">
						<img src="img/090600.jpg" class="img-fluid">
					</div>
					<div class="col-md-12 mt-3 d-none d-md-block d-lg-none">
						<img src="img/090616.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ index.divider('090611-2.jpg') }}

{% include 'contact.html.twig' %}

{% endblock %}
